<launch>
    <arg name="is_dyn_recon" default="0"/>
    <node name="hsv_filter_node" pkg="vision" type="hsv_filter_node" output="screen">
           <rosparam command="load" file="$(find vision)/cfg/launch_params_out.yaml" />
           <param name="is_dyn_recon" value="$(arg is_dyn_recon)" type="bool" />
    </node>
</launch>
