<launch>
    <node name="hsv_filter_node" pkg="hsv_filter" type="hsv_filter_node" output="screen">
        <param name="h_low" value="5" type="int" />
        <param name="s_low" value="230" type="int" />
        <param name="v_low" value="230" type="int" />
        <param name="h_high" value="15" type="int" />
        <param name="s_high" value="255" type="int" />
        <param name="v_high" value="255" type="int" />
    </node>
</launch>