<launch>
    <node name="gate_detect_node" pkg="gate_detect" type="gate_detect" output="screen">
            <param name="cannyLow" value="50" type="int" />
            <param name="houghLinesThreshold" value="100" type="int" />
            <param name="houghLinesMinLength" value="125" type="int" />
            <param name="houghLinesMaxLineGap" value="150" type="int" />
            <param name="poleMax" value="50" type="int" />
            <param name="interpolationConstant1" value="81.88" type="double" />
            <param name="interpolationConstant2" value="-.92791" type="double" />
    </node>
    <node name="hsv_filter_node" pkg="vision" type="hsv_filter_node" output="screen">
        <param name="h_low" value="0" type="int" />
        <param name="s_low" value="0" type="int" />
        <param name="v_low" value="0" type="int" />
        <param name="h_high" value="220" type="int" />
        <param name="s_high" value="243" type="int" />
        <param name="v_high" value= "200" type="int" />
        <remap from="/camera/image_raw" to="/uwsim/camera2"/>
    </node>
    <node name="world_state_node" pkg="worldstate" type="world_state_node" output="screen">
    </node>
    <node name="decision_node" pkg="decision" type="decision_node" output="screen">
        <remap from="worldstate" to="/worldstate/output"/>
        <remap from="gate_location" to="/gateDetect/output"/>
        <remap from="/decision_node/output" to="/g500/twist"/>
    </node>
</launch>
