<launch>
    <node name="hsv_filter_node" pkg="vision" type="hsv_filter_node" output="screen">
        <param name="hsv/h_low" value="5" type="int" />
                        <param name="hsv/h_low" value="146" type="int" />
                        <param name="hsv/s_low" value="167" type="int" />
                        <param name="hsv/v_low" value="20" type="int" />
                        <param name="hsv/h_high" value="181" type="int" />
                        <param name="hsv/s_high" value="167" type="int" />
                        <param name="hsv/v_high" value="38" type="int" />
    </node>


    <node name="gateDetect" pkg="gate_detect" type="gate_detect" output="screen">
    </node>

</launch>

