<launch>
    <!-- Camera -->
    <node name="cv_camera" pkg="cv_camera" type="cv_camera_node" output="screen">
        <!-- TODO: remap and add args -->
    </node>

    <!-- Distortion correction, image_proc -->
    <node name="disortion_correction" pkg="image_proc" type="image_proc" output="screen">
        <!-- TODO: remap and add args -->
        <remap from="image_raw" to="/cv_camera/image_raw" />
    </node>

    <!-- IMU -->
    <include file="$(find controller)/launch/imu.launch"/>

    <!-- Lower Level Controller -->
    <include file="$(find controller)/launch/controller_node.launch"/>

    <!-- Serial Communication With The Arduino -->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
    </node>

    <!-- HSV filter -->
    <node name="hsv_filter_node" pkg="vision" type="hsv_filter_node" output="screen">
        <param name="h_low" value="0" type="int" />
        <param name="s_low" value="0" type="int" />
        <param name="v_low" value="0" type="int" />
        <param name="h_high" value="220" type="int" />
        <param name="s_high" value="243" type="int" />
        <param name="v_high" value= "200" type="int" />
        <remap from="/camera/image_raw" to="/cv_camera/image_rect_color"/>
    </node>

    <!-- Gate detector -->
    <node name="gate_detect_node" pkg="gate_detect" type="gate_detect" output="screen">
        <param name="cannyLow" value="50" type="int" />
        <param name="houghLinesThreshold" value="100" type="int" />
        <param name="houghLinesMinLength" value="125" type="int" />
        <param name="houghLinesMaxLineGap" value="150" type="int" />
        <param name="poleMax" value="50" type="int" />
        <param name="interpolationConstant1" value="81.88" type="double" />
        <param name="interpolationConstant2" value="-.92791" type="double" />
        <param name="width" value="500" type="int" />
        <param name="height" value="360" type="int" />
        <param name="lowVertThresh" value="150" type="int" />
        <param name="lowHorThresh" value="150" type="int" />
    </node>

    <!-- Worldstate node -->
    <node name="world_state_node" pkg="worldstate" type="world_state_node" output="screen">
    </node>

    <!-- Decision node -->
    <node name="decision_node" pkg="decision" type="decision_node" output="screen">
        <remap from="worldstate" to="/worldstate/output"/>
        <remap from="gate_location" to="/gate_detect/output"/>
        <!-- TODO: <remap from="/decision_node/output" to="twist_output"/> -->
    </node>

    <rosparam command="load" file="$(find decision)/constants/constants.yaml" ns="global_constants" />
</launch>
